<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso Basico de Vue.js | Platzi</title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div id="app">
    <h1>
      Mis Cursos de Platzi (\/) :)
    
    </h1>
    <p>
      <input type="text" v-model="title" placeholder="Titulo del curso" />
    </p>
    <p>
      <input type="number" v-model="time" placeholder="Horas" />
    </p>
    <p>
      <button v-on:click="addCourse()">Guardar Curso</button>
    </p>
    </fieldset>
    <div>
      <h3>Lista de Cursos</h3>
      <span v-if="totalTime>0">
        Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
        <b>#NuncaParesDeAprender</b>
      </span>
      <span v-else>
        <p class="red">Aun {{ totalTime }} no has realizado cursos, la idea es que nunca pares de aprender >:|</p>
      </span>
      <div>
        <ol>
          <li v-for="(course, i) in courses" :key="'course.title'+i">
            {{course.title}} - {{course.time}}
          </li>
        </ol>
        <hr />

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>